<div id="navigator">
  <%= form_tag bike_stations_index_path, :id => "find_stations" do %>
    <%= hidden_field_tag 'origin', nil, :id => "origin" %>
    <%= hidden_field_tag 'route', nil, :id => "route" %>
    <% if @destination %>
      <div class="row">
        <div class="span6 input-prepend input-append">
          <span class="add-on badge badge-success">A</span>
          <span class="span5 uneditable-input" type="text"><%= "#{@origin.address.split(",")[0]}" %></span>
        </div>
        <div class="span6 input-prepend input-append">
          <span class="add-on badge badge-important">B</span>
          <span class="span5 uneditable-input" type="text"><%= "#{@destination.station_name}" %></span>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="input-prepend input-append span6">
        <input class="span3" id="new_origin" type="text"></input>
        <span class="add-on">San Francisco, CA</span>
        <%= submit_tag 'Set Origin', :id => "set_origin", :class => 'btn' , :type => "button" %>
      </div>

      <% if @bike_stations && @bike_stations.count > 0 %>
        <div class="btn-group span6">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            <span id="route_choice"><%= "#{@destination.description}" %></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% @bike_stations.each do |station| %>
              <li><a class="new_route" id="<%= station.id %>" href="#">
                  <%= "#{station.distance.to_f.round(2)} miles - #{station.description}" %>
              </a></li>
            <% end %>
          </ul>
          <%= submit_tag 'Route', :class => "btn", :id => "choose_route" %>
        </div>
      <% end %>
    </div>

  <% end %>
</div>

<div id="map-canvas"></div>

<%= render 'map_js' %>


